<app-banner [title]="'All Matches'"></app-banner>

  <br>

  <a routerLink="/matches" class="btn btn-info py-3 px-4 mr-3" style="float: right;">All Matches</a>
  <a routerLink="/addmatch" class="btn btn-success py-3 px-4 mr-3" style="float: right;">Add Match</a>
  <div class="site-section">
    <div class="col-lg-12">
        <div class="widget-next-match">
            <table class="table custom-table">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Team One</th>
                  <th>Team Two</th>
                  <th>Score One</th>
                  <th>Score Two</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let m of matches ; let id=index">
                  <td>{{m.id}}</td>
                  <td><strong class="text-white">{{m.teamOne}}</strong></td>
                  <td><strong class="text-white">{{m.teamTwo}}</strong></td>
                  <td>{{m.scoreOne}}</td>
                  <td>{{m.scoreTwo}}</td>
                  <td>
                    <button class="btn btn-info mr-2" (click)="infoMatch(m._id)">Info</button>
                    <button class="btn btn-success mr-2" (click)="editMatch(m._id , 'editmatch')" >Edit</button>
                    <button class="btn btn-danger" (click)="deleteMatch(m._id)" >Delete</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
    </div>
  </div>