


<div class="hero overlay" style="background-image: url('assets/images/bg_3.jpg');">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-9 mx-auto text-center">
          <h1 class="text-white">Player Info</h1>
        </div>
      </div>
    </div>
  </div>
  <br>

<div class="container">
    <div class="col-md-4">
        <div class="post-entry">
          <div class="caption">
            <div class="caption-inner">
              <h3 class="mb-3">Info player</h3>
              <div class="author d-flex align-items-center">
                <div class="img mb-2 mr-3">
                  <img src="assets/images/img_1.jpg" alt="">
                </div>
                <div class="text">
                  <h2>Name : {{player.name}}</h2>
                  <h4>Poste : {{player.poste}}</h4>
                  <h4>Nbe and Age : {{player.nbr}} , {{player.age}}</h4>
                </div>
              </div>
            </div>
          </div> 
        </div>
      </div>
      
</div>
